NODE_ENV=production
JWT_SECRET =
JWT_REFRESH_SECRET =
PORT = 3000
REDIS_PORT = 6379;
REDIS_URL = ;
REDIS_PASSWORD = ;
GOOGLE_MAPS_API_KEY = ;
WOOVI_KEY = "";
WOOVI_WEBHOOK_SECRET = "";
FUSORARIOBR = "inactive"; //alterar pra production caso rode local na sua máquina
DATABASE = "mongodb"; // postgres or mongodb
CLOUDFLARE_R2_ACCESS_KEY_ID = ;
CLOUDFLARE_R2_ACCOUNT_ID = ;
CLOUDFLARE_R2_BUCKET_NAME = ;
CLOUDFLARE_R2_SECRET_ACCESS_KEY = ;
RABBITMQ_URL = ;
MESSAGE_BROKER = rabbitmq;
MONGO_URL_PROD = "";
RESEND_API_KEY = ;
EMAIL_PROVIDER = resend;

MONGO_URL = "";

PGHOST = "";
PGDATABASE = "";
PGUSER = "";
PGPASSWORD = "";
ENDPOINT_ID = "";
PGPORT = 5432;

KAFKAJS_NO_PARTITIONER_WARNING = 1;
KAFKA_USERNAME = ;
KAFKA_PASSWORD = ;
KAFKA_HOST = ;
KAFKA_CLIENT_ID = ;
PAGARME_KEY = ;
